@{
    ViewData["Title"] = "Home";
    Context.Items["BodyClass"] = "home-page";
}

<section class="index">
    <video autoplay loop muted>
        <source src="~/assets/video/bkvideo.mp4" type="video/mp4">
    </video>
    <div class="welcome">Aqui nós escutamos você!</div>
</section>
